@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-red-550;
  }

  html,
  body,
  body > div:first-child {
    @apply h-full;
  }

  img {
    image-rendering: -webkit-optimize-contrast;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: crisp-edges;
  }
}
